#include <nanobind/nanobind.h>

#include "uavcan/all.h"


NB_MODULE(python_dsdls_impl, m) {
    m.doc() = "Python extension that provides fast access to dsdls data types, implemented in C";


    export_namespace_UAVCAN(m);
}
