#ifndef NUNAVUT_SUPPORT_PYTHON_BINDING_H_INCLUDED
#define NUNAVUT_SUPPORT_PYTHON_BINDING_H_INCLUDED

#include <nanobind/nanobind.h>
#include <serialization.h>

template <typename T, size_t buffer_size, auto serialize_func>
nanobind::bytes python_serialize(const T &instance) {
    uint8_t buffer[buffer_size];
    size_t size = sizeof(buffer);
    auto res = serialize_func(&instance, buffer, &size);
    if (res != NUNAVUT_SUCCESS) {
        throw std::invalid_argument("Serialization failed with error code: " + std::to_string(res));
    }

    return nanobind::bytes(reinterpret_cast<const char *>(buffer), size);
}

template <typename T, auto deserialize_func>
T python_deserialize(const nanobind::bytes &data) {
    T status;
    size_t size = data.size();
    auto res = deserialize_func(&status, reinterpret_cast<const uint8_t *>(data.data()), &size);

    if (res != NUNAVUT_SUCCESS) {
        throw std::invalid_argument("Deserialization failed with error code: " + std::to_string(res));
    }

    return status;
}

#endif //NUNAVUT_SUPPORT_PYTHON_BINDING_H_INCLUDED
