#ifndef NUNAVUT_SUPPORT_PYTHON_BINDING_H_INCLUDED
#define NUNAVUT_SUPPORT_PYTHON_BINDING_H_INCLUDED

#include <nanobind/nanobind.h>
#include <serialization.h>
#include <nanobind/stl/vector.h>
#include <array>
#include <nanobind/stl/array.h>

template <typename T, size_t buffer_size, auto serialize_func>
nanobind::bytes python_serialize(const T &instance) {
    uint8_t buffer[buffer_size];
    size_t size = sizeof(buffer);
    auto res = serialize_func(&instance, buffer, &size);
    if (res != NUNAVUT_SUCCESS) {
        throw std::invalid_argument("Serialization failed with error code: " + std::to_string(res));
    }

    return nanobind::bytes(reinterpret_cast<const char *>(buffer), size);
}

template <typename T, auto deserialize_func>
T python_deserialize(const nanobind::bytes &data) {
    T status;
    size_t size = data.size();
    auto res = deserialize_func(&status, reinterpret_cast<const uint8_t *>(data.data()), &size);

    if (res != NUNAVUT_SUCCESS) {
        throw std::invalid_argument("Deserialization failed with error code: " + std::to_string(res));
    }

    return status;
}

template<typename T, size_t N>
void set_fixed_array(T *to, const std::array<T, N> &from) {
    for (size_t i = 0; i < N; ++i) {
        to[i] = from[i];
    }
}

template<typename T, size_t N>
std::array<T,N> get_fixed_array(const T* from) {
    std::array<T,N> out;
    for (size_t i = 0; i < N; ++i) {
        out[i] = from[i];
    }
    return out;
}

template<size_t N>
void set_fixed_bitpacked_array(uint8_t *to, const std::array<bool,N> &from) {
    for (size_t i = 0; i < N; ++i) {
        if (from[i]) {
            to[i / 8] |= (1 << (i % 8));
        } else {
            to[i / 8] &= ~(1 << (i % 8));
        }
    }
}

template<size_t N>
std::array<bool,N> get_fixed_bitpacked_array(const uint8_t *from) {
    std::array<bool,N> out;
    for (size_t i = 0; i < N; ++i) {
        out[i] = (from[i / 8] & (1 << (i % 8))) != 0;
    }
    return out;
}

#endif //NUNAVUT_SUPPORT_PYTHON_BINDING_H_INCLUDED
