{#-
 # Copyright (c) 2019 OpenCyphal
 # This software is distributed under the terms of the MIT License.
 # Author: Pavel Kirienko <pavel@opencyphal.org>
-#}

{% extends "base.j2" -%}
{%- block contents -%}

class {{ T|short_reference_name }}:

    {{data_schema("Request", T.request_type) | indent }}
    {{data_schema("Response", T.response_type) | indent }}

{%- endblock -%}
