{#-
 # Copyright (c) 2019 OpenCyphal
 # This software is distributed under the terms of the MIT License.
 # Author: Pavel Kirienko <pavel@opencyphal.org>
-#}

{% extends "base.j2" -%}
{%- block contents -%}

class {{ T|short_reference_name }}:
    Request = python_dsdls.{{ T | full_reference_name }}.{{ T.request_type | short_reference_name }}
    Response = python_dsdls.{{ T| full_reference_name }}.{{ T.response_type | short_reference_name }}

{%- endblock -%}
