{#-
 # Copyright (c) 2019 OpenCyphal
 # This software is distributed under the terms of the MIT License.
 # Author: Pavel Kirienko <pavel@opencyphal.org>
-#}



{% extends "base.j2" %}

{%- block contents -%}

{{T | short_reference_name}} = python_dsdls.{{ T|full_reference_name }}

{%- endblock -%}
